NEXT_PUBLIC_SUPABASE_URL=https://kxlkmhxdmkebksznwczy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4bGttaHhkbWtlYmtzem53Y3p5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4Njc3ODUsImV4cCI6MjA5MzQ0Mzc4NX0.nbN7Va8uVE9hNh1AlrIoW7m6h99U2XLhQfami1jLoQw