node_modules
npm-debug.log
.git
.gitignore
.idea
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache
build
android/.gradle
ios/Pods
ios/.symlinks
coverage
test
assets
web
windows
linux
macos
README.md
flutter_01.png
