NEXT_PUBLIC_SUPABASE_URL=https://mcitmtqwqgyzfwxshdrb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jaXRtdHF3cWd5emZ3eHNoZHJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NzkzNjEsImV4cCI6MjA5MzQ1NTM2MX0.-Rb0yYpoVQzVKB_G-xHfcETOD5rw5BFIXVyjL3oy86g